In [ ]:
pip install Faker

Collecting Faker
  Downloading https://files.pythonhosted.org/packages/1c/b1/afbf97c6a208eb5c6e5b78e5233a01bf285288614c524059ffb3cf089760/Faker-8.8.2-py3-none-any.whl (1.2MB)
     |████████████████████████████████| 1.2MB 5.1MB/s
Requirement already satisfied: text-unidecode==1.3 in /usr/local/lib/python3.7/dist-packages (from Faker) (1.3)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from Faker) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->Faker) (1.15.0)
Installing collected packages: Faker
Successfully installed Faker-8.8.2

In [ ]:
import pandas as pd
import numpy as np
from faker import Faker
fake = Faker()
from datetime import datetime
from calendar import monthrange
from datetime import datetime, timedelta
import decimal
import random

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
ET = pd.read_csv('/content/drive/MyDrive/FP-MBD/database/employee_territories.csv')
ET.head()

   employee_id  territory_id
0            1          6897
1            1         19713
2            2          1581
3            2          1730
4            2          1833

In [ ]:
ET['territory_id'].value_counts()

3049     1
53404    1
44122    1
94105    1
7960     1
2903     1
85014    1
32859    1
60179    1
11747    1
98004    1
95054    1
80909    1
27403    1
30346    1
94025    1
2184     1
33607    1
98052    1
8837     1
2116     1
85251    1
1730     1
2139     1
40222    1
80202    1
95060    1
60601    1
98104    1
27511    1
10038    1
48304    1
20852    1
14450    1
6897     1
48075    1
48084    1
31406    1
1581     1
3801     1
55113    1
1833     1
45839    1
90405    1
19428    1
10019    1
55439    1
95008    1
19713    1
Name: territory_id, dtype: int64

In [ ]:
Teri = pd.read_csv('/content/drive/MyDrive/FP-MBD/database/territories.csv')
Teri.head()

   territory_id territory_description  region_id
0          1581              Westboro          1
1          1730               Bedford          1
2          1833             Georgetow          1
3          2116                Boston          1
4          2139             Cambridge          1

In [ ]:
TI = list(Teri['territory_id'])
TI[:5]

[1581, 1730, 1833, 2116, 2139]

In [ ]:
QRY = []
for i in range(0, 200):
  employee_id = random.choice(range(1, 40))
  territory_id = random.choice(TI)
  query = "INSERT INTO employee_territories VALUES (" + str(employee_id) + ", " + "'{}'".format(territory_id) + ");"
  print(query)

INSERT INTO employee_territories VALUES (15, '48084');
INSERT INTO employee_territories VALUES (37, '48304');
INSERT INTO employee_territories VALUES (19, '48304');
INSERT INTO employee_territories VALUES (4, '85251');
INSERT INTO employee_territories VALUES (24, '48304');
INSERT INTO employee_territories VALUES (5, '19713');
INSERT INTO employee_territories VALUES (37, '8837');
INSERT INTO employee_territories VALUES (21, '2139');
INSERT INTO employee_territories VALUES (29, '44122');
INSERT INTO employee_territories VALUES (10, '55113');
INSERT INTO employee_territories VALUES (18, '33607');
INSERT INTO employee_territories VALUES (5, '3049');
INSERT INTO employee_territories VALUES (10, '95060');
INSERT INTO employee_territories VALUES (2, '98052');
INSERT INTO employee_territories VALUES (38, '95008');
INSERT INTO employee_territories VALUES (14, '78759');
INSERT INTO employee_territories VALUES (19, '98004');
INSERT INTO employee_territories VALUES (21, '1730');
INSERT INTO employee_territories VALUES (25, '60179');
INSERT INTO employee_territories VALUES (17, '95060');
INSERT INTO employee_territories VALUES (2, '2116');
INSERT INTO employee_territories VALUES (18, '94105');
INSERT INTO employee_territories VALUES (14, '2903');
INSERT INTO employee_territories VALUES (10, '90405');
INSERT INTO employee_territories VALUES (36, '1730');
INSERT INTO employee_territories VALUES (4, '7960');
INSERT INTO employee_territories VALUES (24, '7960');
INSERT INTO employee_territories VALUES (4, '29202');
INSERT INTO employee_territories VALUES (6, '94105');
INSERT INTO employee_territories VALUES (27, '95008');
INSERT INTO employee_territories VALUES (33, '29202');
INSERT INTO employee_territories VALUES (32, '85251');
INSERT INTO employee_territories VALUES (37, '1833');
INSERT INTO employee_territories VALUES (30, '19428');
INSERT INTO employee_territories VALUES (8, '85251');
INSERT INTO employee_territories VALUES (31, '11747');
INSERT INTO employee_territories VALUES (4, '30346');
INSERT INTO employee_territories VALUES (36, '2903');
INSERT INTO employee_territories VALUES (9, '55439');
INSERT INTO employee_territories VALUES (27, '98104');
INSERT INTO employee_territories VALUES (13, '8837');
INSERT INTO employee_territories VALUES (6, '98052');
INSERT INTO employee_territories VALUES (22, '72716');
INSERT INTO employee_territories VALUES (12, '75234');
INSERT INTO employee_territories VALUES (38, '48084');
INSERT INTO employee_territories VALUES (32, '11747');
INSERT INTO employee_territories VALUES (30, '80909');
INSERT INTO employee_territories VALUES (34, '10038');
INSERT INTO employee_territories VALUES (23, '3049');
INSERT INTO employee_territories VALUES (17, '98052');
INSERT INTO employee_territories VALUES (35, '11747');
INSERT INTO employee_territories VALUES (5, '31406');
INSERT INTO employee_territories VALUES (8, '32859');
INSERT INTO employee_territories VALUES (16, '33607');
INSERT INTO employee_territories VALUES (20, '3049');
INSERT INTO employee_territories VALUES (9, '72716');
INSERT INTO employee_territories VALUES (33, '31406');
INSERT INTO employee_territories VALUES (16, '20852');
INSERT INTO employee_territories VALUES (17, '1833');
INSERT INTO employee_territories VALUES (2, '48084');
INSERT INTO employee_territories VALUES (19, '55113');
INSERT INTO employee_territories VALUES (3, '53404');
INSERT INTO employee_territories VALUES (19, '10038');
INSERT INTO employee_territories VALUES (2, '2139');
INSERT INTO employee_territories VALUES (6, '98104');
INSERT INTO employee_territories VALUES (1, '98104');
INSERT INTO employee_territories VALUES (39, '14450');
INSERT INTO employee_territories VALUES (6, '53404');
INSERT INTO employee_territories VALUES (1, '60179');
INSERT INTO employee_territories VALUES (11, '2116');
INSERT INTO employee_territories VALUES (11, '11747');
INSERT INTO employee_territories VALUES (11, '98004');
INSERT INTO employee_territories VALUES (14, '19428');
INSERT INTO employee_territories VALUES (23, '55113');
INSERT INTO employee_territories VALUES (24, '3801');
INSERT INTO employee_territories VALUES (12, '94025');
INSERT INTO employee_territories VALUES (12, '1730');
INSERT INTO employee_territories VALUES (7, '85014');
INSERT INTO employee_territories VALUES (21, '30346');
INSERT INTO employee_territories VALUES (2, '60179');
INSERT INTO employee_territories VALUES (8, '10019');
INSERT INTO employee_territories VALUES (14, '90405');
INSERT INTO employee_territories VALUES (5, '1833');
INSERT INTO employee_territories VALUES (4, '8837');
INSERT INTO employee_territories VALUES (1, '31406');
INSERT INTO employee_territories VALUES (17, '2139');
INSERT INTO employee_territories VALUES (30, '95054');
INSERT INTO employee_territories VALUES (1, '10038');
INSERT INTO employee_territories VALUES (36, '48075');
INSERT INTO employee_territories VALUES (16, '85014');
INSERT INTO employee_territories VALUES (22, '8837');
INSERT INTO employee_territories VALUES (8, '60601');
INSERT INTO employee_territories VALUES (6, '1581');
INSERT INTO employee_territories VALUES (27, '55439');
INSERT INTO employee_territories VALUES (37, '45839');
INSERT INTO employee_territories VALUES (3, '29202');
INSERT INTO employee_territories VALUES (30, '85014');
INSERT INTO employee_territories VALUES (12, '27511');
INSERT INTO employee_territories VALUES (28, '6897');
INSERT INTO employee_territories VALUES (34, '20852');
INSERT INTO employee_territories VALUES (11, '60601');
INSERT INTO employee_territories VALUES (9, '44122');
INSERT INTO employee_territories VALUES (18, '7960');
INSERT INTO employee_territories VALUES (19, '40222');
INSERT INTO employee_territories VALUES (38, '19428');
INSERT INTO employee_territories VALUES (19, '8837');
INSERT INTO employee_territories VALUES (19, '32859');
INSERT INTO employee_territories VALUES (25, '48304');
INSERT INTO employee_territories VALUES (10, '2903');
INSERT INTO employee_territories VALUES (35, '1833');
INSERT INTO employee_territories VALUES (23, '20852');
INSERT INTO employee_territories VALUES (18, '45839');
INSERT INTO employee_territories VALUES (31, '27403');
INSERT INTO employee_territories VALUES (7, '98004');
INSERT INTO employee_territories VALUES (36, '30346');
INSERT INTO employee_territories VALUES (18, '19428');
INSERT INTO employee_territories VALUES (2, '2184');
INSERT INTO employee_territories VALUES (33, '95054');
INSERT INTO employee_territories VALUES (1, '98004');
INSERT INTO employee_territories VALUES (37, '2116');
INSERT INTO employee_territories VALUES (9, '72716');
INSERT INTO employee_territories VALUES (17, '48075');
INSERT INTO employee_territories VALUES (31, '60601');
INSERT INTO employee_territories VALUES (24, '94025');
INSERT INTO employee_territories VALUES (36, '94025');
INSERT INTO employee_territories VALUES (11, '1581');
INSERT INTO employee_territories VALUES (30, '75234');
INSERT INTO employee_territories VALUES (19, '19428');
INSERT INTO employee_territories VALUES (37, '48075');
INSERT INTO employee_territories VALUES (2, '85014');
INSERT INTO employee_territories VALUES (3, '95008');
INSERT INTO employee_territories VALUES (17, '11747');
INSERT INTO employee_territories VALUES (26, '31406');
INSERT INTO employee_territories VALUES (11, '2116');
INSERT INTO employee_territories VALUES (1, '2903');
INSERT INTO employee_territories VALUES (30, '27403');
INSERT INTO employee_territories VALUES (14, '6897');
INSERT INTO employee_territories VALUES (39, '48075');
INSERT INTO employee_territories VALUES (16, '72716');
INSERT INTO employee_territories VALUES (9, '27403');
INSERT INTO employee_territories VALUES (4, '31406');
INSERT INTO employee_territories VALUES (15, '80202');
INSERT INTO employee_territories VALUES (3, '94105');
INSERT INTO employee_territories VALUES (33, '11747');
INSERT INTO employee_territories VALUES (32, '44122');
INSERT INTO employee_territories VALUES (12, '55113');
INSERT INTO employee_territories VALUES (29, '90405');
INSERT INTO employee_territories VALUES (36, '27511');
INSERT INTO employee_territories VALUES (30, '27403');
INSERT INTO employee_territories VALUES (15, '6897');
INSERT INTO employee_territories VALUES (15, '98004');
INSERT INTO employee_territories VALUES (2, '27403');
INSERT INTO employee_territories VALUES (33, '2139');
INSERT INTO employee_territories VALUES (6, '2139');
INSERT INTO employee_territories VALUES (5, '85014');
INSERT INTO employee_territories VALUES (15, '48084');
INSERT INTO employee_territories VALUES (17, '20852');
INSERT INTO employee_territories VALUES (5, '29202');
INSERT INTO employee_territories VALUES (38, '27403');
INSERT INTO employee_territories VALUES (8, '19428');
INSERT INTO employee_territories VALUES (37, '10038');
INSERT INTO employee_territories VALUES (31, '1581');
INSERT INTO employee_territories VALUES (7, '85251');
INSERT INTO employee_territories VALUES (36, '19713');
INSERT INTO employee_territories VALUES (6, '98052');
INSERT INTO employee_territories VALUES (7, '75234');
INSERT INTO employee_territories VALUES (24, '45839');
INSERT INTO employee_territories VALUES (39, '1581');
INSERT INTO employee_territories VALUES (28, '19713');
INSERT INTO employee_territories VALUES (26, '2184');
INSERT INTO employee_territories VALUES (33, '1730');
INSERT INTO employee_territories VALUES (29, '85251');
INSERT INTO employee_territories VALUES (38, '85014');
INSERT INTO employee_territories VALUES (20, '44122');
INSERT INTO employee_territories VALUES (14, '95060');
INSERT INTO employee_territories VALUES (6, '48304');
INSERT INTO employee_territories VALUES (39, '3049');
INSERT INTO employee_territories VALUES (33, '48084');
INSERT INTO employee_territories VALUES (25, '3801');
INSERT INTO employee_territories VALUES (34, '55113');
INSERT INTO employee_territories VALUES (6, '19428');
INSERT INTO employee_territories VALUES (36, '29202');
INSERT INTO employee_territories VALUES (17, '48075');
INSERT INTO employee_territories VALUES (19, '29202');
INSERT INTO employee_territories VALUES (21, '2903');
INSERT INTO employee_territories VALUES (9, '95060');
INSERT INTO employee_territories VALUES (35, '1833');
INSERT INTO employee_territories VALUES (19, '19713');
INSERT INTO employee_territories VALUES (13, '95060');
INSERT INTO employee_territories VALUES (15, '31406');
INSERT INTO employee_territories VALUES (31, '33607');
INSERT INTO employee_territories VALUES (10, '1833');
INSERT INTO employee_territories VALUES (19, '85014');
INSERT INTO employee_territories VALUES (17, '80202');
INSERT INTO employee_territories VALUES (26, '27403');
INSERT INTO employee_territories VALUES (21, '85014');
INSERT INTO employee_territories VALUES (3, '19428');
INSERT INTO employee_territories VALUES (5, '80202');
INSERT INTO employee_territories VALUES (5, '98104');
INSERT INTO employee_territories VALUES (11, '31406');